@inject UserManager<User> userManager;
@{
    var user = @userManager.GetUserAsync(User).Result;
}
@model EditLocationModel
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Contact Settings</p>
    </div>
    <div class="card-body">
        <form method="POST" asp-action="EditLocation" asp-controller="Account">
            <input type="hidden" asp-for="LocUserId" value="@user.Id">
            <div class="form-group">
                <span asp-validation-for="LocAddress" class="text-danger"></span>
                <label asp-for="LocAddress"><strong>Address</strong></label><input class="form-control" 
                asp-for="LocAddress" value="@user.Address" placeholder="Sunset Blvd, 38"></div>
            <div class="form-row">
                <div class="col">
                    <span asp-validation-for="LocCity" class="text-danger"></span>
                    <div class="form-group"><label asp-for="LocCity"><strong>City</strong></label><input class="form-control"
                            asp-for="LocCity" value="@user.City" placeholder="Los Angeles"></div>
                </div>
                <div class="col">
                    <span asp-validation-for="LocCountry" class="text-danger"></span>
                    <div class="form-group"><label asp-for="LocCountry"><strong>Country</strong></label><input
                            class="form-control" value="@user.Country" asp-for="LocCountry" placeholder="USA"></div>
                </div>
            </div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Save Info</button>
            </div>
        </form>
    </div>
</div>